<a href="https://colab.research.google.com/github/TranQuangVu249/THMH/blob/main/Lab_6_20130470_TranQuangVu.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# This lab is to deal with classification task using **Random Forests** and **Na√Øve Bayes** algorithms with/without **Feature Selection**. 

*   **Deadline: 23:59, 25/03/2023**

# Import libraries

In [24]:
# code
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer as sk
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix 
from sklearn import metrics 
from sklearn.metrics import accuracy_score 
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
from sklearn.neighbors import KNeighborsClassifier as knc
from prettytable import PrettyTable
from sklearn import svm
from sklearn.datasets import fetch_openml
from keras.datasets import mnist
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import CategoricalNB
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.naive_bayes import ComplementNB
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split as tts
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/THMH/lab6'

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
/content/gdrive/MyDrive/THMH/lab6

#Task 1. 
Task 1. Compare the performance of selected classification algorithms including **Random forest**, **NaiveBayes**, and **SVM** with **mnist** dataset based on **accuracy, precision, recall, f1** measures according to **without using selection feature** and **using selection feature**.

In [ ]:
tb = PrettyTable()
tb.field_names = ["","Accuracy", "Precision", "F1", "Recall"]

In [ ]:
# code
mnist = fetch_openml('mnist_784', version=1)
x = mnist['data']
y = mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.8, random_state = 1)
clf=RandomForestClassifier(n_estimators=100)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
tb.add_row(["RDF", accuracy_score(y_test, y_pred)
,precision_score(y_test, y_pred , average='macro',zero_division=0)
, f1_score(y_test, y_pred , average='macro',zero_division=0) 
,recall_score(y_test, y_pred , average='macro',zero_division=0) ])
tb

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

+-----+----------+--------------------+--------------------+--------------------+
|     | Accuracy |     Precision      |         F1         |       Recall       |
+-----+----------+--------------------+--------------------+--------------------+
| RDF | 0.953375 | 0.9530728109463734 | 0.9529451001813735 | 0.9529028171327919 |
+-----+----------+--------------------+--------------------+--------------------+

In [ ]:
mnist = fetch_openml('mnist_784', version=1)
x = mnist['data']
y = mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.8, random_state = 1)
model = GaussianNB()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
tb.add_row(["Gauss", accuracy_score(y_test, y_pred)
,precision_score(y_test, y_pred , average='macro',zero_division=0)
, f1_score(y_test, y_pred , average='macro',zero_division=0) 
,recall_score(y_test, y_pred , average='macro',zero_division=0) ])
tb

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

+-------+--------------------+--------------------+--------------------+--------------------+
|       |      Accuracy      |     Precision      |         F1         |       Recall       |
+-------+--------------------+--------------------+--------------------+--------------------+
|  RDF  |      0.953375      | 0.9530728109463734 | 0.9529451001813735 | 0.9529028171327919 |
| Gauss | 0.5723392857142857 | 0.6576274282092556 | 0.5180287996433381 | 0.5635841808974639 |
+-------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
mnist = fetch_openml('mnist_784', version=1)

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

In [ ]:

x = mnist['data']
y = mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.9, random_state = 1)
clf=svm.SVC(kernel='linear')
clf.fit(X_train,y_train)
y_pred=clf.predict(X_test)
tb.add_row(["", accuracy_score(y_test, y_pred)
,precision_score(y_test, y_pred , average='macro',zero_division=0)
, f1_score(y_test, y_pred , average='macro',zero_division=0) 
,recall_score(y_test, y_pred , average='macro',zero_division=0) ])
tb

+-------+--------------------+--------------------+--------------------+--------------------+
|       |      Accuracy      |     Precision      |         F1         |       Recall       |
+-------+--------------------+--------------------+--------------------+--------------------+
|  RDF  |      0.953375      | 0.9530728109463734 | 0.9529451001813735 | 0.9529028171327919 |
| Gauss | 0.5723392857142857 | 0.6576274282092556 | 0.5180287996433381 | 0.5635841808974639 |
|       | 0.9100158730158731 | 0.9092998861513631 | 0.9085439701293799 | 0.908504045569247  |
+-------+--------------------+--------------------+--------------------+--------------------+

In [ ]:
mnist = fetch_openml('mnist_784', version=1)
x = mnist['data']
y = mnist['target']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.8, random_state = 1)
clf = BernoulliNB()
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

tb.add_row(["BernoulliNB", accuracy_score(y_test, y_pred)
,precision_score(y_test, y_pred , average='macro',zero_division=0)
, f1_score(y_test, y_pred , average='macro',zero_division=0) 
,recall_score(y_test, y_pred , average='macro',zero_division=0) ])
tb

/usr/local/lib/python3.9/dist-packages/sklearn/datasets/_openml.py:968: FutureWarning: The default value of `parser` will change from `'liac-arff'` to `'auto'` in 1.4. You can set `parser='auto'` to silence this warning. Therefore, an `ImportError` will be raised from 1.4 if the dataset is dense and pandas is not installed. Note that the pandas parser may return different data types. See the Notes Section in fetch_openml's API doc for details.
  warn(

+-------------+--------------------+--------------------+--------------------+--------------------+
|             |      Accuracy      |     Precision      |         F1         |       Recall       |
+-------------+--------------------+--------------------+--------------------+--------------------+
|     RDF     |      0.953375      | 0.9530728109463734 | 0.9529451001813735 | 0.9529028171327919 |
|    Gauss    | 0.5723392857142857 | 0.6576274282092556 | 0.5180287996433381 | 0.5635841808974639 |
|             | 0.9100158730158731 | 0.9092998861513631 | 0.9085439701293799 | 0.908504045569247  |
| BernoulliNB | 0.8291071428571428 | 0.8301269119793728 | 0.8267206487589283 | 0.8258866984990284 |
+-------------+--------------------+--------------------+--------------------+--------------------+

#Task 2. 
For given bank dataset (bank.csv) having the following attributes :
1.	**age** (numeric)
2.	**job** : type of job (categorical: 'admin.','blue-collar','entrepreneur','housemaid','management','retired','self-employed','services','student','technician','unemployed','unknown')
3.	**marital** : marital status (categorical: 'divorced','married','single','unknown'; note: 'divorced' means divorced or widowed)
4.	**education** (categorical: 'basic.4y','basic.6y','basic.9y','high.school','illiterate','professional.course','university.degree','unknown')
5.	**default**: has credit in default? (categorical: 'no','yes','unknown')
6.	**housing**: has housing loan? (categorical: 'no','yes','unknown')
7.	**loan**: has personal loan? (categorical: 'no','yes','unknown')
8.	**contact**: contact communication type (categorical: 'cellular','telephone')
9.	**month**: last contact month of year (categorical: 'jan', 'feb', 'mar', ..., 'nov', 'dec')
10.	**day_of_week**: last contact day of the week (categorical: 'mon','tue','wed','thu','fri')
11.	**duration**: last contact duration, in seconds (numeric). Important note: this attribute highly affects the output target (e.g., if duration=0 then y='no'). Yet, the duration is not known before a call is performed. Also, after the end of the call y is obviously known. Thus, this input should only be included for benchmark purposes and should be discarded if the intention is to have a realistic predictive model.
12.	**campaign**: number of contacts performed during this campaign and for this client (numeric, includes last contact)
13.	**pdays**: number of days that passed by after the client was last contacted from a previous campaign (numeric; 999 means client was not previously contacted)
14.	**previous**: number of contacts performed before this campaign and for this client (numeric)
15.	**poutcome**: outcome of the previous marketing campaign (categorical: 'failure','nonexistent','success')
Output variable (desired target):
16.	**y**. has the client subscribed a term deposit? (binary: 'yes','no')

#3.1. Apply StandardScaler() function to columns that contains numerical data ('age', 'balance', 'day', 'campaign', 'pdays', 'previous')

In [4]:
#code

data= pd.read_csv('bank.csv')
sc= StandardScaler()
data[['age', 'balance', 'day', 'campaign', 'pdays', 'previous']]=sc.fit_transform(data[['age', 'balance', 'day', 'campaign', 'pdays', 'previous']])
data

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,1.491505,admin.,married,secondary,no,0.252525,yes,no,unknown,-1.265746,may,1042,-0.554168,-0.481184,-0.363260,unknown,yes
1,1.239676,admin.,married,secondary,no,-0.459974,no,no,unknown,-1.265746,may,1467,-0.554168,-0.481184,-0.363260,unknown,yes
2,-0.019470,technician,married,secondary,no,-0.080160,yes,no,unknown,-1.265746,may,1389,-0.554168,-0.481184,-0.363260,unknown,yes
3,1.155733,services,married,secondary,no,0.293762,yes,no,unknown,-1.265746,may,579,-0.554168,-0.481184,-0.363260,unknown,yes
4,1.071790,admin.,married,tertiary,no,-0.416876,no,no,unknown,-1.265746,may,673,-0.186785,-0.481184,-0.363260,unknown,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,-0.691015,blue-collar,single,primary,no,-0.473616,yes,no,cellular,0.515650,apr,257,-0.554168,-0.481184,-0.363260,unknown,no
11158,-0.187357,services,married,secondary,no,-0.246658,no,no,unknown,0.040612,jun,83,0.547981,-0.481184,-0.363260,unknown,no
11159,-0.774958,technician,single,secondary,no,-0.464934,no,no,cellular,0.396891,aug,156,-0.186785,-0.481184,-0.363260,unknown,no
11160,0.148416,technician,married,secondary,no,-0.473926,no,yes,cellular,-0.909466,may,9,-0.186785,1.109571,1.818332,failure,no
11161,-0.607072,technician,married,secondary,no,-0.473926,no,no,cellular,-0.790707,jul,628,-0.554168,-0.481184,-0.363260,unknown,no

#3.2. Apply Encode Categorical Value (OneHotEncoder) to transfrom categorical data to numerical data ('job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome')

In [30]:
#code
encoder = OneHotEncoder()
encoded_data =encoder.fit_transform(data[['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']])
encoded_df = pd.DataFrame(encoded_data.toarray(), columns=encoder.get_feature_names_out(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']))
data_encoded = pd.concat([data, encoded_df], axis=1)
data_encoded.drop(columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome'], inplace=True)

data_encoded

,age,balance,day,duration,campaign,pdays,previous,deposit,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,1.491505,0.252525,-1.265746,1042,-0.554168,-0.481184,-0.363260,yes,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.239676,-0.459974,-1.265746,1467,-0.554168,-0.481184,-0.363260,yes,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.019470,-0.080160,-1.265746,1389,-0.554168,-0.481184,-0.363260,yes,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.155733,0.293762,-1.265746,579,-0.554168,-0.481184,-0.363260,yes,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.071790,-0.416876,-1.265746,673,-0.186785,-0.481184,-0.363260,yes,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,-0.691015,-0.473616,0.515650,257,-0.554168,-0.481184,-0.363260,no,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11158,-0.187357,-0.246658,0.040612,83,0.547981,-0.481184,-0.363260,no,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11159,-0.774958,-0.464934,0.396891,156,-0.186785,-0.481184,-0.363260,no,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11160,0.148416,-0.473926,-0.909466,9,-0.186785,1.109571,1.818332,no,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11161,-0.607072,-0.473926,-0.790707,628,-0.554168,-0.481184,-0.363260,no,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#3.3. Apply **Decision tree, Random forest, kNN, Na√ØveBayes** to preproceed dataset in the previous steps. Then compare the obtained results using **accuracy, precision, recall, f1** measures.

In [29]:
#code
tb = PrettyTable()
tb.field_names = ["","Accuracy", "Precision", "F1", "Recall"]
data_encoded['deposit']= data_encoded['deposit'].map({'yes':1, 'no':0})
data_encoded

,age,balance,day,duration,campaign,pdays,previous,deposit,job_admin.,job_blue-collar,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,1.491505,0.252525,-1.265746,1042,-0.554168,-0.481184,-0.363260,NaN,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.239676,-0.459974,-1.265746,1467,-0.554168,-0.481184,-0.363260,NaN,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-0.019470,-0.080160,-1.265746,1389,-0.554168,-0.481184,-0.363260,NaN,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,1.155733,0.293762,-1.265746,579,-0.554168,-0.481184,-0.363260,NaN,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,1.071790,-0.416876,-1.265746,673,-0.186785,-0.481184,-0.363260,NaN,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,-0.691015,-0.473616,0.515650,257,-0.554168,-0.481184,-0.363260,NaN,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11158,-0.187357,-0.246658,0.040612,83,0.547981,-0.481184,-0.363260,NaN,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11159,-0.774958,-0.464934,0.396891,156,-0.186785,-0.481184,-0.363260,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
11160,0.148416,-0.473926,-0.909466,9,-0.186785,1.109571,1.818332,NaN,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
11161,-0.607072,-0.473926,-0.790707,628,-0.554168,-0.481184,-0.363260,NaN,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [31]:
x_train, x_test, y_train, y_test = tts(data_encoded.drop(['deposit'],axis=1), data_encoded['deposit'], test_size=0.3, random_state=1)
clf = DecisionTreeClassifier(random_state=42)
clf.fit(x_train, y_train)
y_predict = clf.predict(x_test)
tb.add_row(["Tree", accuracy_score(y_test, y_predict)
,precision_score(y_test, y_predict , average='macro',zero_division=0)
,f1_score(y_test, y_predict , average='macro',zero_division=0) 
,recall_score(y_test, y_predict , average='macro',zero_division=0) ])

print(tb)

+------+--------------------+--------------------+--------------------+--------------------+
|      |      Accuracy      |     Precision      |         F1         |       Recall       |
+------+--------------------+--------------------+--------------------+--------------------+
| Tree | 0.7975515079128098 | 0.7970073151739854 | 0.7971391047976415 | 0.7973280436523829 |
+------+--------------------+--------------------+--------------------+--------------------+

In [32]:
clf=RandomForestClassifier() 
clf.fit(x_train,y_train) 
y_predict = clf.predict(x_test) 
tb.add_row(["Randomforest", accuracy_score(y_test, y_predict)
,precision_score(y_test, y_predict , average='macro',zero_division=0)
,f1_score(y_test, y_predict , average='macro',zero_division=0) 
,recall_score(y_test, y_predict , average='macro',zero_division=0) ])

print(tb)

+--------------+--------------------+--------------------+--------------------+--------------------+
|              |      Accuracy      |     Precision      |         F1         |       Recall       |
+--------------+--------------------+--------------------+--------------------+--------------------+
|     Tree     | 0.7975515079128098 | 0.7970073151739854 | 0.7971391047976415 | 0.7973280436523829 |
| Randomforest | 0.8539862645565841 | 0.854785914879799  | 0.8539587120558496 | 0.8555153684421306 |
+--------------+--------------------+--------------------+--------------------+--------------------+

In [33]:

from sklearn.naive_bayes import BernoulliNB
clf = BernoulliNB()
clf.fit(x_train, y_train) 
y_predict = clf.predict(x_test) 
tb.add_row(["Navie Bayes", accuracy_score(y_test, y_predict)
,precision_score(y_test, y_predict , average='macro',zero_division=0)
,f1_score(y_test, y_predict , average='macro',zero_division=0) 
,recall_score(y_test, y_predict , average='macro',zero_division=0) ])

In [35]:
print(tb)

+--------------+--------------------+--------------------+--------------------+--------------------+
|              |      Accuracy      |     Precision      |         F1         |       Recall       |
+--------------+--------------------+--------------------+--------------------+--------------------+
|     Tree     | 0.7975515079128098 | 0.7970073151739854 | 0.7971391047976415 | 0.7973280436523829 |
| Randomforest | 0.8539862645565841 | 0.854785914879799  | 0.8539587120558496 | 0.8555153684421306 |
| Navie Bayes  | 0.6754255001492983 | 0.674493921612054  | 0.6742403599750407 | 0.6741032095657646 |
+--------------+--------------------+--------------------+--------------------+--------------------+

#3.4. Using selection feature to above dataset, then compare the classification results with those in Task 2.3.

In [ ]:
#code

#Task 4. 
For a given dataset in the Lab #5 (**credit card dataset**), perform feature selection and thencompare the performance of selected classification algorithms (Decision Tree, kNN, Logistic Regression, SVM, Random Forest and NaiveBayes) based on accuracy, precision, recall, f1 measures.

In [ ]:
# code

#Finally,
Save a copy in your Github. Remember renaming the notebook.